//Mobile first
@media (min-width: 1500px) {
	.section-menu {
		&__card-list {
			grid-template-columns: repeat(5, 1fr);
		}
	}
	.features {
		&__list {
			grid-template-rows: repeat(1, 1fr);
			grid-template-columns: repeat(4, 1fr);
			// column-gap: 14px;
		}
		&__item{
			max-width: none;
		}
	}

}

// Desktop first
// @media (max-width: 1200px) {

// }
