.none {
	display: none !important;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.aboutUs-slider-hidden {
	z-index: -10;
	opacity: 0;
}

.no-scroll {
	overflow-y: hidden;
}

.shading {
	background-color: rgba(27, 27, 27, 0.877);
}

.title {
	text-align: center;
}
.title-rus {
	text-transform: uppercase;
	font-size: 34px;
	@extend %font-Oranienbaum-400;
	background-color: var(--color-bg);
	padding-right: 14px;
	padding-left: 14px;
}
.title-chi {
	@extend %font-Microsoft-Jhenghei-400;
	font-size: 24px;
}
.subtitle {
}
