:root {
	--container-width: 360px;
	--container-padding: 10px;

	// --font-main: sans-serif;
	// --font-accent: 'Playfair Display', serif;

	--color-bg: #fff;
	--color-text-light: #ffffff;
	--color-text-dark: #141414;
	--color-accent: #d3001f;
	--color-hover: #ee0000;
	--color-btn-separator: #7b0012;

	--color-stroke-dark: rgba(0, 0, 0, 0.3);
	--color-stroke-medium: #d9d9d9;
	--color-stroke-light: #d9d9d9;

	--laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

// $laptop-size: 1199px;
// $tablet-size: 959px;
// $mobile-size: 599px;

.dark {
	--color-bg: #141414;
	--color-text-light: #fff;
	--color-text-dark: #fff;
}

%font-Gilroy-300 {
	font: {
		family: 'Gilroy';
		weight: 300;
		style: normal;
	}
}

%font-Gilroy-400 {
	font: {
		family: 'Gilroy';
		weight: 400;
		style: normal;
	}
}

%font-Gilroy-500 {
	font: {
		family: 'Gilroy';
		weight: 500;
		style: normal;
	}
}

%font-Gilroy-700 {
	font: {
		family: 'Gilroy';
		weight: 700;
		style: normal;
	}
}

%font-Microsoft-Jhenghei-400 {
	font: {
		family: 'Microsoft Jhenghei';
		weight: 400;
		style: normal;
	}
}

%font-Microsoft-Jhenghei-700 {
	font: {
		family: 'Microsoft Jhenghei';
		weight: 700;
		style: normal;
	}
}

%font-Oranienbaum-400 {
	font: {
		family: 'Oranienbaum';
		weight: 400;
		style: normal;
	}
}
