.header {
	&__slider {
	}
	&__slider-prev {
		display: none;
	}
	&__slider-next {
		display: none;
	}
	&__slide {
		border-radius: 0px 0px 80px 80px;
		min-width: 360px;
		min-height: 482px;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
	}

	&__slider-text-block {
		margin-top: 163px;
		margin-bottom: 10px;
		height: 100%;
		position: relative;
		text-align: center;
		color: var(--color-text-light);
		text-transform: uppercase;
	}
	&__slider-text-top{
		
	}
	&__slider-text-top-text {
		@extend %font-Oranienbaum-400;
		font-size: 19px;
	}
	&__slider-text-main {
		@extend %font-Oranienbaum-400;
		font-size: 40px;
	}
	&__slider-text-chi {
		@extend %font-Microsoft-Jhenghei-400;
		font-size: 24px;
	}
	&__slide-1 {
		background-image: url('../img/main/main-slider/bg-1.png');
		background-position: 50% 0;
	}
	&__slide-2 {
		background-image: url('../img/main/main-slider/bg-2.png');
		background-position: 50% 0;
	}
	&__slide-3 {
		background-image: url('../img/main/main-slider/bg-3.png');
		background-position: 50% 0;
	}
	&__slide-4 {
		background-image: url('../img/main/main-slider/bg-4.png');
		background-position: 50% 0;
	}
}
.slick-dots {
	left: 0;
	right: 0;
	bottom: 16px;
	position: absolute;
	display: flex;
	justify-content: center;
	& li {
		& button {
			display: none;
		}
		margin: 0 2px;
		width: 4px;
		height: 4px;
		border-radius: 5px;
		background-color: #fff;
		transition: all 0.5s;
		&.slick-active {
			width: 22px;
		}
	}
}
