

.header {
	background-color: rgb(62, 184, 184);
	border-bottom: #93a0a7 solid 1px;
	backdrop-filter: blur(10px) brightness(75%);
	&__container {
		padding: 28px 0;
		display: flex;
		justify-content: space-between;
	}
	&__inner {
		display: flex;
		justify-content: end;
		align-items: center;
		text-transform: capitalize;
	}
	&__search-link {
	}
}

